<h2>{{ isEditing? 'Update' : 'Create' }} Hero</h2>

<form [formGroup]="form" novalidate>
  <mat-card>
    <mat-card-content fxLayout="column">
      <mat-form-field *ngIf="isEditing">
        <mat-label>Identifier</mat-label>
        <input matInput formControlName="id" [value]="hero.id">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" id="name" placeholder="Name">
        <mat-error *ngIf="form.controls['name'].hasError('required')">
          Name is required.
        </mat-error>
        <mat-error *ngIf="form.controls['name'].hasError('minlength')">
          Name should contain at least 3 characters.
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button *ngIf="!isEditing" color="primary" (click)="create()">
        Create
      </button>

      <button mat-raised-button *ngIf="isEditing" color="primary" (click)="update()">
        Update
      </button>

      <button mat-raised-button (click)="goBack()">Go Back</button>
    </mat-card-actions>
  </mat-card>
</form>
