.mat-mdc-row:hover {
  cursor: pointer;
}

.add-button {
  position: absolute;
  right: 20px;
  top: 80px;
}

.mat-column-id {
  max-width: 110px;
}

.mat-column-actions {
  max-width: 110px;
  border-left: 1px solid currentColor;
  padding-left: 25px;
}
